.title{
    &-section{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &-wrapper{
        max-width: 800px;
        text-align: center;
        h1{
            --max-size: 8rem;
            @media screen and (max-width: 1200px){
                --max-size: 4rem !important;
            }
            font-size: clamp(1.5rem, 10vw, var(--max-size));
            margin: 20px 0;
        }
    }
}