@use "../css";
@use "./models";
@use "./components";
@use "./controls";

body{
    padding: 0 15px;
}

.game-block{
    background-color: green;
}


.game-sub-bar{
    display: flex;
    justify-content: space-between;
    margin: 10px 1rem;
}

.score-text{
    font-size: 1.5rem;
    align-self: center;
}